<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hola cliente,</h1>
<p>
  Su artículo solicitado:  <%= @item.name %> ya está disponible.
</p>
</body>
</html>